* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header{
    width: 100vw;
    text-align: center;
    background: linear-gradient(to right,rgb(166, 0, 0), black, rgb(21, 21, 21), rgb(1, 159, 17));
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0px;
}
div {
    /* width: 50vw; */
    border: 1px solid black;
    text-align: center;
    color: white;
}
.service-container{
    display: flex;
}
/* .frontend {
    background-image: url(/class-5/images/frontend.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
} */